

/* blå färg #1487FD */

.mobile img {
    width: 100%;
}

.circlephone {
    background-image: url(images/Screen-1.png), url(images/bg.png);
    background-repeat: no-repeat;
    
}

/* .card {
    border: none;
    box-shadow: none;
    margin-top: 3rem;
    padding: 2rem;
    width: 300px;
    text-align: center;
  }
  .card:hover ~ #ball {
    background-color: teal;
  }
  
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.phone-1 {
    position: absolute;
    top: 150%;
    left: 30%;
    transform: translate(-50%, -50%);

} */