

/* blå färg #1487FD */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

.min-text{
    font-size: 3rem;
    line-height: ;
}


/* html, body {
    font-weight: 7000;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
     color: #333333; */

     /* .navbar {
         padding-bottom: 4.5rem;
     } */
    
 #title {
     background-image: url(images/Group\ 4634.png) , url(images/Rectangle\ 1914.png);
     background-repeat: no-repeat;
     background-position: bottom;
     /* background-color: red; */
     color: #FFFFFF;
 }

 #title p {
    font-family: 'Poppins', sans-serif;
     color: #FFFFFF;
     font-weight: 400;
 }

 #title a {
     color:  #FFFFFF;
     font-size: large;
 }
 #title h1 {
    font-family: 'Poppins', sans-serif;
     color:  #FFFFFF;
     font-size: 3.5rem;
     font-weight: 700;
     line-height: 1.5;
   

 }

 .navbar {

 }

 .navbar-brand {
}

.navbar-item {
    padding:0 1rem;

}

 .johns-knapp {
     padding: 0.7rem 1.5rem;
     border-radius: 17px;
     border: 2px solid;
 }

 .mobile img {
    width: 100%;
}

 p {
  
    color: #8A8A8A;
    /* font-size: 3rem; */
    /* line-height: 1.5; */

    
}
/* 
h1 {
    color: #333333;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-left: 4rem;
} */

h3 {
    color: #3096FE;
    font-size: x-large;
    font-weight: 700;
    
}

h6 {
    color: #333333;
}



 .circlephone  {
    background-image: url(images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
 }

 .vertical{
     text-align: left;
     align-items: center;
     margin-top: 10rem;
     margin-left: 5rem
 }

 .t-cluster {
  
     background-image: url(images/Screen-3.png);
 }

 .rotated {
     transform: rotate(-35deg);
    text-align: center;
    margin-left: 5rem;
 }

 
 #feature {

 }

.y-lipse {
     position: relative;
     left:2rem;
     bottom: 50rem;
     /* top: 2rem; */
     /* display inline-block */
 }















  /* .container-fluid {
     /* 3 % till topp och botten 15% lefterright */
     /* padding: 3% 15%; */
  /* } */
  */
  /* .header-bg{
  background: url(images/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  } */

 
 
 



    /* position: relative;
    left: 300px; */
    /* padding-left: 28rem; */
    /* z-index: 1; */
     /* margin-top: 3rem;
    padding: 7rem; */
 

    /* sätt 2 att göra det på ?? */
    /* .circlephone1 {
        left: 500px;
        right: 500px;
        
    }

    .circle-1 {
        background-image: url(images/bg.png);
        margin: auto;
        position:relative;
        z-index: -1;
    }

    .screen-1 {
        background-image: url(images/Screen-1.png);
        position: absolute;
        justify-content: center;
        z-index: 1;
    } */