

/* blå färg #1487FD */

.mobile img {
    width: 100%;
}

 .circlephone  {
    background-image: url(images/iPhone\ X\ -\ Light.png), url(images/bg.png);
   /* background-image: url(images/Screen-1.png); */
    /* left: 20px; */
    background-position: center;
    background-repeat: no-repeat;

    /* position: relative;
    left: 300px; */
    /* padding-left: 28rem; */
    /* z-index: 1; */
     /* margin-top: 3rem;
    padding: 7rem; */
 

    /* sätt 2 att göra det på ?? */
    /* .circlephone1 {
        left: 500px;
        right: 500px;
        
    }

    .circle-1 {
        background-image: url(images/bg.png);
        margin: auto;
        position:relative;
        z-index: -1;
    }

    .screen-1 {
        background-image: url(images/Screen-1.png);
        position: absolute;
        justify-content: center;
        z-index: 1;
    } */